doctype html
html
  head
    title= title
    -var qiniu='http://7xov9r.com1.z0.glb.clouddn.com'
    link(rel='stylesheet', href=qiniu+'/stylesheets/style.css')
    link(rel='stylesheet', href=qiniu+'/stylesheets/jquery-ui-1.10.0.custom.css')
    link(rel='stylesheet', href=qiniu+'/stylesheets/bootstrap.css')
    link(rel='stylesheet', href=qiniu+'/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href=qiniu+'/stylesheets/jquery.minicolors.css')
    link(rel='stylesheet', href=qiniu+'/stylesheets/colorPicker.min.css')
    link(rel='stylesheet', href=qiniu+'/stylesheets/jquery.postitall.css')
    link(rel='stylesheet', href=qiniu+'/stylesheets/main.css')
    link(rel='stylesheet', href=qiniu+'/stylesheets/integralui.menu.css')
    link(rel='stylesheet', href=qiniu+'/stylesheets/themes/theme-flat-light.css')
    link(rel='stylesheet', href=qiniu+'/stylesheets/feedback.css')
    link(rel='stylesheet', href=qiniu+'/stylesheets/boardContainer.css')

  body
    block content
    script(src=qiniu+'/javascripts/libs/jquery-1.9.1.min.js')
    script(src=qiniu+'/javascripts/libs/jquery-ui-1.10.1.min.js')
    script(src=qiniu+'/javascripts/libs/bootstrap.min.js')
    script(src=qiniu+'/javascripts/libs/underscore.js')
    script(src=qiniu+'/javascripts/libs/backbone.js')
    script(src=qiniu+'/javascripts/libs/underscore.js')
    script(src=qiniu+'/javascripts/libs/backbone.localStorage.js')
    script(src=qiniu+'/javascripts/libs/jquery.minicolors.js')
    script(src=qiniu+'/javascripts/libs/colorPicker.min.js')
    script(src=qiniu+'/javascripts/libs/jquery.postitall.js')
    script(src=qiniu+'/javascripts/angular.js')
    script(src=qiniu+'/javascripts/angular-touch.js')
    script(src=qiniu+'/javascripts/angular-local-storage.js')
    script(src=qiniu+'/javascripts/ui-utils.js')
    script(src=qiniu+'/javascripts/libs/main.js')
    script(src=qiniu+'/javascripts/js/angular.integralui.min.js')
    script(src=qiniu+'/javascripts/js/angular.integralui.menu.min.js')
    script(src=qiniu+'/javascripts/libs/html2canvas.js')
    script(src=qiniu+'/javascripts/js/amazeui.min.js')
    script(src='/javascripts/js/boardContainerModels.js')
    script(src='/javascripts/js/boardContainerView_alone.js')
    script(src='/javascripts/js/boardContainer.js')
    script(src='/javascripts/js/utils.js')
    script(src='/javascripts/comment_code.js')

    block imageScript
